@model Indus.iDrawings.vN.Models.ForgotPasswordViewModel
@{
    Layout = null;
}
<div id="dialogboxForMessage" tooltip="iDrawings">
    <div id="dvMessageBox" style="text-align:center"></div>
</div>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPasswordForm" }))
{
    @Html.AntiForgeryToken()

    <div id="DivMessage">
    </div>
    <div id="smart-green" style="overflow:hidden">
        <div class="text">
            <div>
                Enter your Login Name
            </div>
        </div>
        <div class="control">
            <div>
                @Html.TextBoxFor(model => model.LoginName, new { id = "txtLoginName", name = "txtLoginName" })
                @Html.ValidationMessageFor(model => model.LoginName)
            </div>
        </div>
    </div>
    <style type="text/css">
        .input-validation-error {
            border: 1px solid #ff0000 !important;
            background-color: #ffeeee !important;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {
            $('input,select').keypress(function (event) {
                return event.keyCode != 13;
            });
        });

        function MessageRender() {
            $('#DivMessage').load('@Url.Action("ShowMessage", "Account")');
        }

        function Cancel_OnClick() {
            $("#forgotpassworddialog").dialog("close");
        }

        function formSubmit() {
            clearValidation($("#forgotpassworddialog"));
                var urlSave = '@Url.Action("ForgotPasswordConfirmation", "Account")';
                $.ajax({
                    type: 'POST',
                    url: urlSave,
                    data: $('#forgotPasswordForm').serialize(),
                    success: function (returndata) {
                        if (validateResponse(returndata, $("#forgotpassworddialog"))) {
                            if (returndata) {
                                showAlertBox("Password sent to your email address");
                                $("#forgotpassworddialog").dialog("close");
                            }
                            else
                                MessageRender();
                        }
                    }
                });
            return true;
        };
    </script>
}
